@using BankService
@{
    ViewData["Title"] = "Overview";
}

@{
    var accounts = (List<Account>)Model;
    foreach (var account in accounts)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="account-overview">
                    <div class="account-info">
                        <p>Account: @account.Id</p>
                        <p>Balance: @account.Balance</p>
                    </div>
                    <div class="buttons">
                        <a class="button" asp-area="" asp-controller="Home" asp-action="History" asp-route-id="@account.Id">History</a>
                        <a class="button" asp-area="" asp-controller="Home" asp-action="Transfer" asp-route-id="@account.Id">Transfer</a>
                        <a class="button" asp-area="" asp-controller="Home" asp-action="Withdraw" asp-route-id="@account.Id">Withdraw</a>
                        <a class="button" asp-area="" asp-controller="Home" asp-action="Payment" asp-route-id="@account.Id">Payment</a>
                        <a class="button" asp-area="" asp-controller="Home" asp-action="DeleteAccount" asp-route-id="@account.Id">Delete</a>
                    </div>                    
                    @*Konto: @account.Id, Bilans: @account.Balance*@
                    @*<a asp-area="" asp-controller="Home" asp-action="History" asp-route-accountId="@account.Id">History</a>
            <a asp-area="" asp-controller="Home" asp-action="History" asp-route-accountId="@account.Id">Transfer</a>
            <a asp-area="" asp-controller="Home" asp-action="History" asp-route-accountId="@account.Id">Payment</a>*@
                    
                </div>
            </div>        
        </div>       
    }    
}

<a class="button" asp-area="" asp-controller="Home" asp-action="CreateAccount">Create account</a>
