@model PaymentViewModel
@{
    ViewBag.Title = ViewData["Title"];
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="@ViewData["Title"]" method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label>Amount</label>
        @*<input asp-for="AmountMain" />
        <input asp-for="AmountReminder" />
        <span asp-validation-for="AmountReminder"/>*@
        <input asp-for="Amount" />
        <span asp-validation-for="Amount"></span>
        <span class="field-validation-error">@ViewData["Error"]</span>
    </div>

    <div>
        <input type="submit" value="@ViewData["Title"]" />
    </div>

</form>

@*<p>@ViewData["Error"]</p>*@